<!DOCTYPE html>
<html>
<head>
	<title>all restaurant</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="Bootstrap/css/star-rating.min.css">
  <link rel="stylesheet" href="Bootstrap/css/w3.css">
  <link rel="stylesheet" href="Bootstrap/js/bootstrap.min.js">
 <link rel="stylesheet" href="Bootstrap/js/jquery.min.js"> 

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/js/star-rating.min.js"></script>
</head>
<body>

<div class="container">
  <h1>All restaurant list are here</h1>
  <p>Click on the images and name to enlarge them.</p> <br> <br>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/lights.jpg" target="_blank">
          <img src="res1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <h2> <font color="OrangeRed">"ভোজন বাড়ি রেস্টুরেন্ট" - bhujon bari restaurant</font></h2>
            <p><font color="green">Address: Jallarpar Road, Zindabazar, Sylhet</font></p>
          </div>
        </a>
        <input id="input-2-sm" name="input-2" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" value ="5">
      </div>
      
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="res4.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <h2>"উন্দাল রেস্টুরেন্ট" - woondaal restaurant</h2>
            <p>Address:Purbo-Zindabazar, Sylhet</p>
          </div>
        </a>
        <input id="input-2-sm" name="input-2" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" value ="5">
      </div>
      
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="res3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <h2>"ডিঙি রেষ্টুরেন্ট"-Dingee Restaurant</h2>
            <p>Address:Amborkhana, Sylhet </p>


          </div>
        </a>
        <input id="input-2-sm" name="input-2" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" value ="5">
      </div>
    
       
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/lights.jpg" target="_blank">
          <img src="res1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <h2>"ভোজন বাড়ি রেস্টুরেন্ট" - bhujon bari restaurant</h2>
            <p>Address: Jallarpar Road, Zindabazar, Sylhet</p>
          </div>
        </a>
        <input id="input-2-sm" name="input-2" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" value ="5">
      </div>
      
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="res4.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <h2>"উন্দাল রেস্টুরেন্ট" - woondaal restaurant</h2>
            <p>Address:Purbo-Zindabazar, Sylhet</p>
          </div>
        </a>
        <input id="input-2-sm" name="input-2" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" value ="5">
      </div>
      
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="res3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <h2>"ডিঙি রেষ্টুরেন্ট"-Dingee Restaurant</h2>
            <p>Address:Amborkhana, Sylhet </p>


          </div>
        </a>
        <input id="input-2-sm" name="input-2" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" value ="5">
      </div>
    
       
    </div>
  </div>

</div>

</body>
</html>